.container {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-areas: "jodol jodol" "hoax cibiran" "pp cibiran" "piral cibiran" "sumber sumber";
}

.header {
    grid-area: jodol;
    background-color: coral;
}

.profile {
    grid-area: pp;
    background-color: lime;
}

.sidebar {
    grid-area: piral;
    background-color: magenta;
}

.main {
    grid-area: hoax;
    background-color: lemonchiffon;
}

.comment {
    grid-area: cibiran;
    background-color: lightskyblue;
}

.footer {
    grid-area: sumber;
    background-color: lightcyan;
}

